$bg-color-body: #2D5381;
$bg-color-body-light: #206aaf;
$bg-color-body-dark: #132539;
$bg-color-body-dark-alt: #284A73;
$color-01: #ddd;
$color-02: #E68745;
$font-size-large: 2.1rem;
$font-size-medium: 1.8rem;
$font-size-small: 1.4rem;
$font-family-default: Arial, Helvetica, sans-serif